<<h2> </h2>

<%= form_for @product , :url =>  product_path ,method: :patch do |f| %>	

Category Name :  <%= f.select :category_id, Category.all.pluck(:name, :id) %><br><br>
Brand Name :  <%= f.select :brand_id, Brand.all.pluck(:name, :id) %><br><br>
Product Name : <%= f.text_field :name %><br><br>
Product Cost : <%= f.text_field :price %><br><br>
Product Quantity : <%= f.text_field :quantity %><br><br>
Image: <%= f.file_field :image %><br><br>


 <%= submit_tag 'submit'  %>
 
<% end %>


